<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="todo.css">
    <script data-main="scripts/todoApp" src="scripts/require.js"></script>
    <title>Fabiana's To Do App</title>
</head>
<body>
    <div id="todobody">
        <h1 id="todoheader">To-do List</h1>
        <input id="todoadd" type="text" placeholder="What do you need to get done?"/>
        <div class="todoinstruction">Press enter to add item</div>
        <div id="todocontent">
            <input type="checkbox" id="tododone" value="done"> Mark whole list as done
            <ul id="todolist">
            </ul>
            <div id="todoeditinstruction" class="todoinstruction">Double click to edit item</div>
        </div>
        <div id="todofooter">Items left
        <div id="todorefresh">Reset list</div>
        </div>
    </div>

    <script type ="text/template" id="item-template">
        <div class="view">
            <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
            <label><%- title %></label>
        </div>
        <input class="edit" type="text" value="<%- title %>" />

    </script>
</body>
</html>